<app-bread />
<div class="list-container">
  <div class="title-section">
    <h5 class="w-fit">{{ page.name }}</h5>
    <div class="d-flex">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Search"
        [(ngModel)]="search"
      />
      <a class="btn btn-primary" [routerLink]="page.addUrl">
        <i class="bi bi-plus-circle"></i>
        {{ page.addAction }}
      </a>
    </div>
  </div>

  <div class="data-table" *ngIf="list.length > 0">
    <!-- Table Headers (Visible on Desktop, Hidden on Mobile) -->
    <div class="table-header">
      <div *ngFor="let item of page.headers">
        {{ item }}
      </div>
    </div>

    <!-- Table Rows -->
    <div class="table-row" *ngFor="let item of list | searchCatergory : search">
      <div class="mobile-header">Code</div>
      <div>{{ item.code }}</div>

      <div class="mobile-header">Name</div>
      <div>{{ item.name }}</div>

      <div class="mobile-header">Status</div>
      <div>{{ item.status }}</div>
      <div class="mobile-header"></div>
      <div>
        <a class="btn btn-primary" [routerLink]="['/category', item.id]">
          Edit <i class="bi bi-arrow-up-right"></i>
        </a>
         <button class="btn btn-dark" (click)="delete(item)" style="margin-left: 5px">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="text-center mt-3" *ngIf="list.length === 0">
    <p>No {{ page.name.toLowerCase() }} available.</p>
  </div>
</div>
