<div class="app-overlay">
  <div class="modal">
    <div class="header">
      <h2>Modal Title</h2>
      <div class="close" (click)="close.emit()">
        <i class="bi bi-x-lg"></i>
      </div>
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <th>Location Type</th>
            <th>Location Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of locationTypes">
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Add Location Type"
                (change)="update(item)"
                [(ngModel)]="item.ItemValue.value"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <select
                class="form-select"
                (change)="update(item)"
                [(ngModel)]="item.Status"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="" disabled selected>Select Status</option>
                <option *ngFor="let status of statuses" [value]="status">
                  {{ status }}
                </option>
              </select>
            </td>
            <td>

                <i class="bi bi-trash btn btn-sm btn-danger pointer" (click)="delete(item)"></i>
            
            </td>
          </tr>
          <!-- Add -->
          <tr>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Add Location Type"
                [(ngModel)]="newLocationType"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <select
                class="form-select"
                [(ngModel)]="newLocationStatus"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="" disabled selected>Select Status</option>
                <option *ngFor="let status of statuses" [value]="status">
                  {{ status }}
                </option>
              </select>
            </td>
            <td>
              <button class="btn btn-primary" (click)="addLocationType()">
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
