:host {
    .tabs{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: .5rem 0;
        a {
            color: var(--white);
            text-decoration: none;
            font-size: 0.8rem;
            padding: .4rem 1rem;
            border-radius: 1rem;
            font-weight: 600;
            &:hover {
              color: var(--info);
            }
            &.active {
              background: black;
            }
          }
    }

}
