<div class="form-container" *ngIf="data">
  <div class="title-section">
    <h5 class="w-fit">{{ page.name }}</h5>
    <div class="d-flex">
      <a class="btn btn-light" [routerLink]="page.listUrl">
        <i class="bi bi-arrow-left"></i>
        Back
      </a>
    </div>
  </div>
  <form class="body">
    <div class="grid-2">
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="RoomNo"
          placeholder="Room Number"
          [(ngModel)]="data.ItemValue.RoomNo"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="RoomNo">Room Number</label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="number"
          class="form-control"
          id="Capacity"
          placeholder="Capacity"
          [(ngModel)]="data.ItemValue.Capacity"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="Capacity">Capacity</label>
      </div>

      <!-- Floor -->
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="Floor"
          placeholder="Floor"
          [(ngModel)]="data.ItemValue.Floor"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="Floor">Floor</label>
      </div>
      <!-- BuildingName -->
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="BuildingName"
          placeholder="Building Name"
          [(ngModel)]="data.ItemValue.BuildingName"
          [ngModelOptions]="{ standalone: true }"
          required
        />
        <label for="BuildingName">Building Name</label>
      </div>
    </div>
    <button type="submit" class="w-100 btn btn-primary mb-2" (click)="save()">
      Save
    </button>
  </form>
</div>
